/* :root {
    --verde-bonito(#);
} */

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;

}

header {
    display: flex;
    background-color: gray;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 50px;
}

header > h1, nav {
    width:290px;
}

header > img {
    height: 65px;
    width: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > a:hover {
    color: aqua;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    width: 250px;
    height: 700px;
    padding: 50px;
}

aside > a {
    text-decoration: none;
    color: black;
    height: 40px;
    margin-top: 2px;
    background-color: rgb(205, 205, 205);
}

a {
    text-decoration: none;
    color: black;
}